doctype html 
html(lang="ko")    
    head
        meat(charset="utf-8")
        link(rel="stylesheet" href="./blog.css")
    body
        div.conatiner-fluid
            div.row 
                div.col-lg-12.col-xs-12
        