@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font: 10px;
    font-family: "Jua", sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url('../img/estudio-bloom-ezqnxsqUZ80-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;

}

.main_header {
    .move_main_page {
        display: flex;
        position: absolute;
        top: 1%;
        left: 2%;
        flex-flow: row wrap;
        text-decoration: none;

        .site_logo {
            width: 100px;
            height: 100px;
        }

        .go_main_page {
            font-family: "Jua", sans-serif;
            font-size: 1.4rem;
            margin-top: 42px;
            margin-left: 7px;
            color: #FA26A0;
        }
    }

    .sub_main_header {
        position: absolute;
        top: 18%;
        left: 66%;

        .btn_area {
            .user_plus_btn {
                width: 180px;
                height: 43px;
                font-size: 1.2rem;
                border-radius: 14px;
                box-shadow: 3px 3px;
                background-color: #f8d110c4;
                transform: translate(100%, 55%);
                outline: none;
            }
        }

        .search_area {
            .search_button {
                width: 145px;
                height: 41px;
                font-size: 1.2rem;
                border-radius: 14px;
                box-shadow: 3px 3px;
                background-color: #f8d110c4;
                transform: translate(7%, -48%);
                outline: none;
            }
        }
    }
}

.search_window {
    position: absolute;
    width: 700px;
    height: 570px;
    top: 11%;
    left: 27%;
    border: 1px solid springgreen;
    background-color: blueviolet;
    border-radius: 30px;
    display: none;
    z-index: 150;

    .modal_dsn_title {
        font-size: 4rem;
        position: absolute;
        top: 5%;
        left: 44%;
        width: 46%;

        .sub_modal_ment {
            font-size: 1.2rem;
            position: absolute;
            display: inline-block;
            top: 10px;
            left: 121px;
            width: 136px;
            color: bisque;
        }
    }

    .cancel_btn {
        width: 42px;
        height: 40px;
        border: 1px solid springgreen;
        border-radius: 50%;
        margin-top: 40px;
        margin-left: 627px;
        cursor: pointer;

        .cancel_img {
            width: 42px;
            height: 40px;
            text-align: center;
            line-height: 50px;
            font-size: 2.5rem;
        }
    }

    .modal_add_info {
        height: 51px;
        width: 620px;
        border: 1px solid blue;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
        line-height: 57px;
        transform: translate(40px, 40px);

        .modal_add_info_text {
            width: 169px;
            height: 50px;
            text-align: center;
            border: 1px solid saddlebrown;
            line-height: 50px;
            font-size: 1.7rem;

        }

        .info_division {
            width: 169px;
            height: 50px;
            text-align: center;
            border: 1px solid saddlebrown;
            line-height: 50px;
            font-size: 1.7rem;
            transform: translate(-30px, 0px);
        }

        .division {
            width: 257px;
            height: 50px;
            font-size: 2rem;
        }
    }

    .select_design {
        font-size: 4rem;
        position: absolute;
        top: 33%;
        left: 47%;
    }

    .division_table {
        transform: translate(35px, 130px);
    }

    .input_info {
        width: 372px;
        height: 50px;
        border-radius: 15px;
        font-size: 1.8rem;
        text-indent: 20px;
    }

    .search_user_btn {
        width: 96px;
        height: 40px;
        text-align: center;
        transform: translate(550px, 170px);
        font-size: 1.3rem;
        border-radius: 12px;
        box-shadow: 3px 3px;
    }
}

.btn_posi {
    width: 350px;
    height: 80px;
    position: absolute;
    top: 3%;
    left: 76%;
    text-align: center;

    .user_welcome {
        width: 350px;
        height: 80px;
        text-align: center;
        line-height: 84px;
        font-size: 2rem;
        font-family: "Jua", sans-serif;
    }

    .logout_ment {
        margin-top: -16px;

        .logout {
            font-size: 1.3rem;
            text-decoration: none;
            font-family: "Jua", sans-serif;
        }
    }
}

.like_site_info_head {
    position: absolute;
    top: 15%;
    left: 39%;
    width: 400px;
    height: 100px;
    background-color: blueviolet;
    text-align: center;
    line-height: 100px;
    font-size: 3rem;
    border-radius: 10px;

    .like_site_logo {}
}

.show_table {
    position: absolute;
    top: 30%;
    left: 7%;
    width: 85%;
    height: 60%;
    background-color: aquamarine;
    overflow: auto;
    opacity: 0.6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .like_site_info_main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .site_list {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 100%;
            border: 6px solid green;
            height: 77px;

            .site_list_desc {
                font-size: 3rem;
                /* border: 1px solid red; */
                list-style: none;
                text-align: center;
                float: left;
                height: 60px;
                line-height: 70px;
            }

            .list1 {
                width: 7%;
            }

            .list2 {
                width: 15%;
            }

            .list3 {
                width: 26%;
                margin-left: 1%;
            }

            .list4 {
                width: 29%;
                margin-left: 1%;
            }

            .list5 {
                width: 10%;
                margin-left: 2%;
            }

            .list6 {
                width: 13%;

            }

        }

        .like_site_list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            font-size: 2rem;
            border-bottom: 2px solid blue;
            width: 100%;

            .record_dsn {
                list-style: none;
                float: left;
                border: 1px solid red;
                text-align: center;
            }

            .record1 {
                background-color: coral;
                width: 7%;
                height: 50px;
                text-align: center;
                margin-left: 0px;
                line-height: 48px;
            }

            .record2 {
                background-color: blue;
                width: 16%;
                height: 50px;
                text-align: center;
                line-height: 48px;
                margin-left: 0px;
            }

            .record3 {
                width: 27%;
                height: 50px;
                background-color: royalblue;
            }

            .record4 {
                width: 31%;
                height: 50px;
                background-color: yellow;
            }

            .record5 {
                width: 12%;
                background-color: khaki;
            }

            .del_site {
                background-color: darkmagenta;
                width: 76px;
                height: 50px;
                text-align: center;
                font-size: 2rem;
                margin-left: 7px;
            }

            .confirm_del {
                position: fixed;
                width: 340px;
                height: 160px;
                top: 4%;
                left: 41%;
                border: 1px solid springgreen;
                background-color: #66dcdc;
                border-radius: 30px;
                font-size: 1.5rem;
                z-index: 180;

                .confirm_del_ment {
                    display: block;
                    font-size: 2rem;
                    transform: translate(14px, 25px);
                }

                .confirm_del_button {
                    background-color: palevioletred;
                    width: 60px;
                    height: 38px;
                    text-align: center;
                    font-size: 2rem;
                    cursor: pointer;
                    transform: translate(60px, 45px);
                }

                .confirm_del_cancel {
                    background-color: palevioletred;
                    width: 60px;
                    height: 38px;
                    text-align: center;
                    font-size: 2rem;
                    cursor: pointer;
                    transform: translate(156px, 45px);
                }
            }

            .update_site {
                background-color: limegreen;
                width: 73px;
                height: 50px;
                text-align: center;
                font-size: 2rem;
                margin-left: 10px;
            }
        }

    }
}




.add_user {
    position: absolute;
    width: 700px;
    height: 570px;
    top: 11%;
    left: 27%;
    border: 1px solid springgreen;
    background-color: blueviolet;
    border-radius: 30px;
    display: none;

    .cancel_btn {
        width: 42px;
        height: 40px;
        border: 1px solid springgreen;
        border-radius: 50%;
        margin-top: 40px;
        margin-left: 627px;
        cursor: pointer;

        .cancel_img {
            width: 42px;
            height: 40px;
            text-align: center;
            line-height: 50px;
            font-size: 2.5rem;
        }
    }


    .modal_dsn_title {
        font-size: 4rem;
        position: absolute;
        top: 5%;
        left: 27%;
    }


    .input_info_box {
        width: 638px;
        height: 405px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        border: 1px solid red;
        transform: translate(30px, 55px);

        .modal_add_info {
            height: 51px;
            width: 620px;
            border: 1px solid blue;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            text-align: center;
            line-height: 57px;

            .info_division {
                width: 169px;
                height: 50px;
                text-align: center;
                border: 1px solid saddlebrown;
                line-height: 50px;
                font-size: 1.7rem;
                transform: translate(-30px, 0px);

            }

            .division {
                width: 257px;
                height: 50px;
                font-size: 2rem;
            }

            .modal_add_info_text {
                width: 169px;
                height: 50px;
                text-align: center;
                border: 1px solid saddlebrown;
                line-height: 50px;
                font-size: 1.7rem;

            }



            .input_info {
                width: 372px;
                height: 50px;
                border-radius: 15px;
                font-size: 1.8rem;
                text-indent: 20px;
            }

        }


        .division_table {}
    }

    .canvas_box {
        border: 1px solid pink;
        width: 490px;
        height: 70px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        line-height: 68px;
        transform: translate(-5px, 2px);

        .insert_cap {
            font-size: 1.5rem;
            line-height: 70px;
        }

        .display_random {
            width: 136px;
            height: 50px;
            border: 1px solid red;
            transform: translate(0px, 9px);
            border-radius: 10px;
        }

        .insert_random_num {
            width: 167px;
            height: 50px;
            transform: translate(0px, 9px);
            border-radius: 10px;
            font-size: 2rem;
            text-align: center;
        }
    }

    .add_user_btn {
        width: 96px;
        height: 40px;
        text-align: center;
        transform: translate(-13px, 0px);
        font-size: 1.3rem;
        border-radius: 12px;
        box-shadow: 3px 3px;
    }

}

/*투명도 조절할 것 뒤에 제목과 겹침*/
.update_site_window {
    position: fixed;
    width: 700px;
    height: 570px;
    top: 11%;
    left: 27%;
    border: 1px solid springgreen;
    background-color: #ddcf34;
    border-radius: 30px;
    display: none;
    z-index: 200;

    .cancel_btn {
        width: 42px;
        height: 40px;
        border: 1px solid springgreen;
        border-radius: 50%;
        margin-top: 40px;
        margin-left: 627px;
        cursor: pointer;

        .img_close {
            width: 42px;
            height: 40px;
            text-align: center;
            line-height: 50px;
            font-size: 2.5rem;
        }

        .cancel_img {
            width: 42px;
            height: 40px;
            text-align: center;
            line-height: 50px;
            font-size: 2.5rem;
        }
    }


    .modal_dsn_title {
        font-size: 4rem;
        position: absolute;
        top: 5%;
        left: 27%;
    }


    .input_info_box {
        width: 638px;
        height: 405px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        border: 1px solid red;
        transform: translate(30px, 55px);

        .modal_add_info {
            height: 51px;
            width: 620px;
            border: 1px solid blue;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            text-align: center;
            line-height: 57px;

            .info_division {
                width: 169px;
                height: 50px;
                text-align: center;
                border: 1px solid saddlebrown;
                line-height: 50px;
                font-size: 1.7rem;
                transform: translate(-30px, 0px);

            }

            .division {
                width: 257px;
                height: 50px;
                font-size: 2rem;
            }

            .modal_add_info_text {
                width: 169px;
                height: 50px;
                text-align: center;
                border: 1px solid saddlebrown;
                line-height: 50px;
                font-size: 1.7rem;

            }



            .input_info {
                width: 372px;
                height: 50px;
                border-radius: 15px;
                font-size: 1.8rem;
                text-indent: 20px;
            }

        }




    }

    .canvas_box {
        border: 1px solid pink;
        width: 490px;
        height: 70px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        line-height: 68px;
        transform: translate(-5px, 2px);

        .insert_cap {
            font-size: 1.5rem;
            line-height: 70px;
        }

        .display_random {
            width: 136px;
            height: 50px;
            border: 1px solid red;
            transform: translate(0px, 9px);
            border-radius: 10px;
        }

        .insert_random_num {
            width: 167px;
            height: 50px;
            transform: translate(0px, 9px);
            border-radius: 10px;
            font-size: 2rem;
            text-align: center;
        }
    }

    .add_user_btn {
        width: 96px;
        height: 40px;
        text-align: center;
        transform: translate(-13px, 0px);
        font-size: 1.3rem;
        border-radius: 12px;
        box-shadow: 3px 3px;
    }


}