@mixin input-numberbox {
    width: 300px;
	height: 60px;
	border: 1px solid red;
	text-align: center;
	line-height: 62px;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -152px;
	margin-top: -335px;
	font-family: 'Gamja Flower', cursive;
	font-family: 'Jua', sans-serif;
}
@mixin common_cal_box {
    display: inline-block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 52px;
}
@mixin left_right_calbox_position {
    margin-left: -85px;
	margin-top: -250px;
}
@mixin common_button_property{
    border: 1px solid red;
	background-color: gold;
	border-radius: 20px;
	cursor: pointer;
	margin: auto;
	font-size: 23px;
	text-align: center;
    transition: 0.3s all linear;
	font-family: 'Jua', sans-serif;
}
@mixin common_display {
    background-color: aquamarine;
	position: absolute;
	top: 64%;
	left: 50%;
}
@mixin common_button_effect {
    color: red;
    font-size: 25px;
    background-color: rgb(101, 20, 231);
}
@mixin print_cell{
    width: 30px;
	height: 30px;
	margin: 5px;
	text-align: center;
	line-height: 28px;
	font-size: 11px;
	background-color: white;
	color: #111111;
	float: left;
	border: none;
}
$middle_button_left: 6px;
$zero_plus_button_left: -125px;
$zero_plus_button_height: 50px;
* {
	padding: 0px;
	margin: 0px;
	font-family: 'Do Hyeon', sans-serif;
}
html,body {
	width: 100%;
	height: 100%;
}
.commonBox {
	width: 33.3%;
	height: 100%;
}
.leftBox {    
	display: inline-block;	
	position: relative;    
}
.leftBox{
    background: pink;
}
.middleBox {   
    @extend .leftBox;
    background: powderblue;
	margin-left: -6px;
}
.matrix_title{	
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;   
    width: 350px;
    height: 70px;
    line-height: 78px;
    font-size: 80px;
    margin-left: -175px;
    margin-top: -340px;
}
.rightBox {
	display: inline-block;
	background-color: lightgray;
	position: absolute;
}
.in_box, .in_box1 {
    @include input-numberbox;
}
.xString {
    font: {
    size: 29px;
	family: 'Gamja Flower', cursive;
	family: 'Jua', sans-serif;
    }	
}
.inNo {
	width: 100px;
	font-size: 20px;
	text-align: center;
}
.calBox, .calBox1, .calBox2{
    @include common_cal_box; 
}
.calBox, .calBox1 {
    @include left_right_calbox_position ;   
}
.calBox2 {  
	margin-left: -100px;
	margin-top: -250px;
}
.cal_button {
	@include common_button_property;
    width: 150px;
	height: 50px;
    margin-left: $middle_button_left;    
}
.mix_button {
    @include common_button_property;
    width: 99px;
    height: 51px;
    margin-left: $middle_button_left; 
}
.zero_button {
    @include common_button_property;
    width: 80px;
	height: $zero_plus_button_height;
    margin-left: $zero_plus_button_left;	
}
.plus_button {
    @include common_button_property;
    width: 92px;
	height: $zero_plus_button_height;
    margin-left: $zero_plus_button_left; 
}
.zero_button:hover,.mix_button:hover,.plus_button:hover,.cal_button:hover{
    @include common_button_effect; 
}
.displayArea,.displayArea1 {
    @include common_display;
}
.input_cell {
    @include print_cell;   
}