		* {
			padding: 0px;
			margin: 0px;
		}

		.nButton {
			width: 45px;
			height: 47px;
			border-radius: 50%;
			line-height: 48px;
			color: white;
			background-color: hsl(45, 41%, 49%);
			font-size: 24px;
			cursor: pointer;
			transition: all 0.3s linear;
			display: inline-block;
			text-align: center;
		}

		.contextS {
			display: block;
			width: 200px;
			height: 71px;
			outline: 0px;
			font-size: 50px;
			text-align: right;
			border: 10px solid hsl(43, 49%, 33%);
			margin-left: 10px;
			margin-top: 20px;

		}


		.nButton:hover {
			background-color: hsl(43, 60%, 71%);

		}

		.inputNumbers {
			position: absolute;
			display: inline-block;
			width: 220px;
			height: 220px;
			margin-left: 20px;
			margin-top: 15px;
		}


		.backSpace {
			margin-left: 151px;
			font-size: 30px;
		}

		.calMachine {
			width: 240px;
			height: 380px;
			border: 2px solid hsl(60, 13%, 9%);
			background-color: hsl(354, 95%, 29%);
			background: linear-gradient(to right bottom, gold, black 10%, red);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -190px;
			border-radius: 14px;
			margin-left: -120px;

		}